*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}


/* BACKGROUND */

body{

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

display:flex;
justify-content:center;

}


/* APP */

.app{

width:380px;
padding:20px;
padding-bottom:120px;

position:relative;

}


/* HEADER */

.header{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:20px;

}

.header p{
color:#cbd5f5;
font-size:13px;
}


/* SETTINGS */

.settings{

background:rgba(255,255,255,0.1);
padding:10px;
border-radius:12px;
cursor:pointer;

}


/* SETTINGS MENU */

.settings-menu{

display:none;

position:absolute;

top:70px;
right:20px;

background:#1e293b;

padding:10px;

border-radius:12px;

width:180px;

z-index:10;

}

.menu-item{

padding:10px;

cursor:pointer;

border-radius:8px;

}

.menu-item:hover{

background:#334155;

}

.logout{
color:#ef4444;
}



/* SEARCH */

.search input{

width:100%;

padding:14px;

border-radius:12px;

border:none;

background:rgba(255,255,255,0.1);

color:white;

margin-bottom:20px;

}



/* BANNER */

.banner{

background:linear-gradient(135deg,#ffb347,#ffcc33);

border-radius:20px;

padding:40px 20px;

text-align:center;

margin-bottom:25px;

color:black;

}

.banner button{

margin-top:12px;

background:black;

border:none;

padding:10px 20px;

border-radius:20px;

color:white;

cursor:pointer;

}



/* SPECIALIZATION */

.categories{

display:flex;
gap:18px;

overflow-x:auto;

scrollbar-width:none;

margin-bottom:25px;

}

.categories::-webkit-scrollbar{
display:none;
}

.cat{

min-width:100px;
text-align:center;

}

.cat img{

width:75px;
height:75px;

border-radius:14px;

object-fit:cover;

}

.cat p{

margin-top:6px;
font-size:13px;

}



/* FILTERS */

.filters{

display:flex;
gap:10px;
margin-bottom:20px;

}

.filters button{

background:rgba(255,255,255,0.1);

border:none;

padding:10px 16px;

border-radius:12px;

color:white;

cursor:pointer;

}



/* DOCTOR CARD */

.doctor-card{

display:flex;

gap:15px;

background:rgba(255,255,255,0.1);

padding:15px;

border-radius:16px;

align-items:center;

margin-bottom:15px;

}

.doctor-card img{

width:70px;
height:70px;

border-radius:12px;

}

.rating{
color:#22c55e;
}



/* NAVIGATION */

.nav{

position:fixed;

bottom:25px;

width:320px;

display:flex;

justify-content:space-around;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(15px);

padding:12px;

border-radius:30px;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

}

.nav-item{

width:50px;
height:50px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

cursor:pointer;

transition:.3s;

}

.nav-item:hover{

background:#6366f1;

transform:scale(1.2);

}

.nav-item.active{

background:#6366f1;

}